*{
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: auto;
    margin-left:auto;
    background: rgb(220, 220, 220);
}


#btn-links {
    padding-left: 40px;
    padding-right: 40px;
    margin-left:4%;
}

.project-headings {
    padding-left: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the button to the bottom */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
}





/***This is used for styling the list of buttons inside of the w1 folder***/
ul.button-list {
    list-style-type: none; /* Removes the bullet points */
    padding: 0; /* Removes the default padding */
    margin: 0; /* Removes the default margin */
  }
  
  ul.button-list li {
    margin-bottom: 10px; /* Adds space between the buttons */
  }
  
  button {
    width: 100%; /* Makes the buttons fill the li */
    /* Additional styling for your buttons goes here */
  }
  